body {
    background: linear-gradient(to bottom, #000080, #000080,  white);
    padding: 0;
    margin: 0;
}


/**encabezado**/

.header {
   background: linear-gradient(to bottom, black, #000080);
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 500;
    margin-bottom: 50px;
    position: fixed;
    right: 0;
    padding-top: 20px;
}
.logo{
    font-family: 'Bungee Inline', cursive;
    font-size: 40px;
}

.menuuno ul li a {
    color: white;
    padding-top: 10px;
    margin-left: 10px;
    font-family: 'Bungee Inline', cursive;
    background-color: #000080;
    padding: 5px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.menuuno ul li a:hover {
    background-color: gray;
    transition: all 1s linear;
    padding-left: 5px;
}

.titulosinicio {
    font-family: 'Bungee Inline', cursive;
    color: white;
    padding-top: 240px;
    text-align: center;
}

.section {
    color: white;
    margin-top: 50px;
    align-content: center;
}
.section ul li{
    text-align: center;
    list-style: none;
}

p {
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-family: Bungee;
    font-size: 20px;
}

.textotrabajos {
    margin-top: 200px;
    color: white;
    text-align: center;
}
.titulostrabajos{
    margin-top: 250px;
    font-family: 'Bungee Inline', cursive;
}

.footer {
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer p{
    color: gray;
}

.imagenestrabajo {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.imagenestrabajo:hover{
    transition: all 1s;
    border-radius: 70px;
    transform: scale(1, 0,5);
}

.logowhatsapp {
    position: fixed;
    margin-top: 220px;
    padding-bottom: 75px;
    padding-left: 0;
    top: 200px;
    z-index: 500;
}

.logoinstagram {
    background-color:rgb(104, 81, 84);
    border-radius: 20px;
    position: fixed;
    margin-top: 220px;
    padding-left: 0;
    top: 250px;
    z-index: 500;
}

.logowhatsapp:hover {
    transition: all 0, 9s;
    transform: scale(1.2, 1.2);
    z-index: 500;
}

.logoinstagram:hover {
    
    transition: all 0, 9s;
    transform: scale(1.2, 1.2);
    z-index: 500;
}

.dos {
    width: 350px;
    height: 500px;
}
.mapa{
    display: flex;
    justify-content: space-around;
}
.mapa a{
    color: black;
    font-family: Bungee;
    font-size: 20px;
}
.imageneshistoria{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


